<template>
    <div class="spinner-wrapper">
        <div class="spinner-grow m-auto" style="width: 5rem; height: 5rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</template>

<script>
export default {
    name: "Loader"
};
</script>

<style scoped>
.spinner-grow {
    display: block !important;
}
</style>
