<template>
    <div>
        <div class="block">
            <div class="block-header block-header-default">
                <h3 class="block-title">Создание лида</h3>
            </div>
            <div class="block-content">
                <form action="#" method="post">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="form-group row">
                                <div class="col-12">
                                    <label for="mega-firstname">Имя</label>
                                    <input type="text" class="form-control form-control-lg " name="name&quot;" placeholder="Введите имя..">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group row">
                                <label class="col-12" for="example-select2-multiple">Контактные лица</label>
                                <div class="col-lg-12">
                                    <div>
                                        <select class="js-select2 form-control  is-invalid"
                                                name="contactPersons[]" style="width: 100%;" id="contactPersons"
                                                data-placeholder="Выберите контактных лиц.." multiple>
                                            <option value="1">$contactPerson->name</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-7">
                            <div class="form-group row">
                                <div class="col-12">
                                    <label for="mega-bio">Комментарий к лиду</label>
                                    <textarea class="form-control form-control-lg " name="comment" rows="22" placeholder="Введите комментарий.."></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group row">
                                <label class="col-12" for="example-select2-multiple">Менеджер</label>
                                <div class="col-lg-12">
                                    <select class="form-control form-control-lg ">
                                        <option>Выберете менеджера</option>
                                        <option value="3">sadgdasg</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-12" for="example-select2-multiple">Источники обращения</label>
                                <div class="col-lg-12">
                                    <select class="form-control form-control-lg ">
                                        <option>Выберите источник обращения</option>
                                        <option value="1">Реклама</option>
                                        <option value="2">Органика</option>
                                        <option value="3">Сарафан</option>
                                        <option value="4">Прочее</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-12" for="example-select2-multiple">Категории источников
                                    обращения</label>
                                <div class="col-lg-12">
                                    <select class="form-control form-control-lg valid ">
                                        <option value="null">Выберите категорию источника обращения</option>
                                        <option value="5">поиск</option>
                                        <option value="6">соцсети</option>
                                        <option value="7">Прочее</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-12" for="example-select2-multiple">Услуга</label>
                                <div class="col-lg-12">
                                    <select class="form-control form-control-lg ">
                                        <option>Выберите сервис</option>
                                        <option value="1">Разработка</option>
                                        <option value="2">Маркетинг</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-12" for="example-select2-multiple">Категории услуги</label>
                                <div class="col-lg-12">
                                    <select  class="form-control form-control-lg valid ">
                                        <option>Выберите категорию сервиса</option>
                                        <option value="3">Сайт</option>
                                        <option value="4">Бот</option>
                                        <option value="5">Интеграция</option>
                                        <option value="6">Прочее</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-12">Статус лида</label>
                                <div class="col-lg-12">
                                    <select class="form-control form-control-lg ">
                                        <option>Выберите статус</option>
                                        <option value="in_process">В работе</option>
                                        <option value="cotton">Вата</option>
                                        <option value="failed">Отказ</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-12">
                            <button type="submit" class="btn btn-alt-primary">
                                <i class="fa fa-check mr-5"></i> Создать лида
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</template>

<script>
export default {
name: "ProjectCreate"
}
</script>

<style scoped>

</style>
