<template>
    <tr>
        <td class="text-center">{{ client.id }}</td>
        <td class="font-w600">
            <a :href="editlUrl">{{ client.name }}</a>
        </td>
        <td class="d-none d-sm-table-cell">
            <span :class="client.status_badge_class" class="badge">{{ client.status_ru }}</span>
        </td>
        <td class="text-center">
            <a :href="showUrl" type="button" class="btn btn-sm btn-secondary" data-toggle="tooltip" title="View Customer">
                <i class="fa fa-user"></i>
            </a>
        </td>
    </tr>
</template>

<script>
export default {
    name: "Client",
    props: {
        client: {
            type: Object
        }
    },
    methods: {

    },
    data() {
        return {
            editlUrl: '/client-management/clients/' + this.client.id + '/edit',
            showUrl: '/client-management/clients/' + this.client.id + '/',
        }
    },
    created() {
        // console.log(this.client)
    }
}
</script>

<style scoped>

</style>
