<template>
    <div class="">
        <Loader v-if="loader"/>
        <table v-if="!loader" class="table table-bordered table-striped table-vcenter js-dataTable-full">
            <thead>
            <tr>
                <th class="text-center">#</th>
                <th>Имя клиента</th>
                <th class="d-none d-sm-table-cell" style="width: 15%;">Статус</th>
                <th class="text-center" style="width: 15%;">Просмотр</th>
            </tr>
            </thead>
            <tbody>
            <Client
                v-for="client in clients"
                :key="client.id"
                :client="client"
            />
            </tbody>
        </table>
        <nav class="clearfix push">
            <button @click="nextPage" type="button" class="btn btn-alt-secondary min-width-100 float-right">Next</button>
            <button @click="prevPage" type="button" class="btn btn-alt-secondary min-width-100 float-left">Previous</button>
        </nav>
    </div>
</template>

<script>
import axios from "axios";
import Client from "./Client";
import Loader from "../Loader";

export default {
    name: "ClientsList",
    components: {
        Client,
        Loader
    },
    data() {
        return {
            url: "/api/V1/clients",
            loader: false,
            currentPage: 1,
            lastPage: 1,
            clients: [],
        }
    },
    created() {
        this.getClients();
    },
    methods: {
        prevPage() {
            if (this.currentPage !== 1 && this.currentPage > 1) {
                this.currentPage --;
            }

            this.getClients(this.currentPage);
        },
        nextPage() {
            if (this.currentPage < this.lastPage && this.currentPage > 0) {
                this.currentPage ++;
            }

            this.getClients(this.currentPage);
        },
        getClients(page = 1) {
            this.loader = true;
            axios.get(this.url + '?page=' + page).then(response => {
                this.clients = response.data.data;
                this.lastPage = response.data.meta.last_page;
                this.loader = false;
            }).catch(error => {
                console.log(error)
            });
        },
    }
}
</script>

<style scoped>

</style>
