<!--<template>-->
<!--    -->
<!--</template>-->

<!--<script>-->
<!--import axios from "axios";-->

<!--export default {-->
<!--    name: "ClientDetail",-->
<!--    data() {-->
<!--      return {-->
<!--          url: '/api/V1/clients'-->
<!--      }-->
<!--    },-->
<!--    methods: {-->
<!--        getClient(id) {-->
<!--            this.loader = true;-->
<!--            axios.get(this.url + '?page=' + page).then(response => {-->
<!--                this.clients = response.data.data;-->
<!--                this.lastPage = response.data.meta.last_page;-->
<!--                this.loader = false;-->
<!--            }).catch(error => {-->
<!--                console.log(error)-->
<!--            });-->
<!--        },-->
<!--    }-->
<!--}-->
<!--</script>-->

<!--<style scoped>-->

<!--</style>-->
